* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul,
ol {
  list-style: none;
}

a {
  text-decoration: none;
}

body {
    display: flex;
}
.aside {
    height: 100vh;
    flex-grow: 1;
    flex-shrink: 1;
    background-color: black;
}

.main{
    background-color: greenyellow;
    flex-grow:2;
    flex-shrink: 2;
}

