body {
    height: 10000px;
    background-color:gray ;
}


.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: grey;
    opacity:1;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: opacity 250ms ease-in-out, top;
}

.modal {
    height: 500px;
    width: 500px;
    background-color: white;
    position: absolute;
}

.is-hidden {
pointer-events: none;
opacity: 0;
}

.open {
    height: 100px;
    width: 200px;
    text-align: center;
    margin: 0 auto;
    border-radius: 5px;
    border: solid 1px pink;
    background-color: green;
}

.open:hover {
    background-color: greenyellow;
    color: white;
    cursor: pointer;
}


