body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.img {
    height: auto;
    width: 500px;
    display: block;
    box-shadow: 20px 20px 5px 0px rgba(0,0,0,0.79);
-webkit-box-shadow: 20px 20px 5px 0px rgba(0,0,0,0.79);
-moz-box-shadow: 20px 30px 5px 0px rgba(0,0,0,0.79);
}

.magnit{
    position: relative;
}

.magnit::after {
    content: "";

    width: 100%;
    height: 100%;
    display: block;

    position: absolute;
    right: 20px;
    bottom: 20px;
    z-index: 1;

    background: #833AB4;
background: linear-gradient(0deg, rgba(131, 58, 180, 1) 0%, rgba(166, 50, 137, 1) 7%, rgba(253, 29, 29, 1) 24%, rgba(253, 29, 29, 1) 38%, rgba(253, 89, 45, 1) 54%, rgba(253, 128, 56, 1) 64%, rgba(252, 176, 69, 1) 77%);

opacity: 0.7;

}